.contenedor-1{
    background-image: url(imagenes/El\ texto\ del\ párrafo\ \(1\).png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding:100px;
    position: relative;
    display: flex;

}
.imagen{
    width: 100%;
    height: auto;
max-width: 100%;
height: auto;
}
.button{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    top: 90%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px; 
    background-color:#C83234;
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

h2{
    text-align: center;
}
